<a name="top"></a>

<div class="image">
  <img src="/inplace.png" id="main"></img>
</div>

<div class="topper">
  <div class="col-12">
    <div class="col-4">
      <a href="#portfolio"><h1 id="portfolio-h1">Portfolio</h1></a>
    </div>
    <div class="col-4">
      <a href="#top"><img src="assets/logowhite.png" id="logo"></img></a>
    </div>
    <div class="col-4">
      <a href="#contact"><h1 id="contact-h1">Contact</h1></a>
    </div>
  </div>
</div>


<div class="container">
  <div class="about">

    <div class="col-12">

      <img src="assets/circular.png" id="headshot"></img>
      <div align="center">
        <h1>Daniel Harris</h1>
      </div>
      <p id="summary">
        Most people pick conventional CS degrees or go to a code school like gSchool @ Galvanize.
        I decided to get the best of both worlds. With both real-world experience and a background in
        everything from database architecture to android development, I've seen the entire length of the stack.
      </p>
      <br><br>

      <hr>

      <br><br>
      <h1 id="ed-header">Education</h1>
      <p id="education">
        gSchool @ Galvanize
        <br>
        2015
        <br>
        <br>
        Metropolitan State University of Denver
        <br>
        Computer Science major (seeking)
        <br>
        Math minor (seeking)
        <br>
        2012-2014
        <br>
      </p>
      <br><br>

      <hr id="mid">

      <br><br>
      <h1 id="skills-header">Skills</h1>
      <p id="skills">
        Java<br>
        Ruby on Rails<br>
        Javascipt<br>
        Jquery<br>
        HTML<br>
        CSS<br>
        Android Development<br>
        Agile Development<br>
        Test Driven Development<br>
        Pair Programming<br>
      </p>
      <br><br>

    </div>
  </div>
</div>

<a name="portfolio"><br><br><br></a>

<div class="portfolio-box">

  <h1 id="portfolio-topper">Portfolio</h1>

  <div class="container port">
    <div class="projects">
      <div class="col-12">
        <div class="port-block">
          <div class="image-text-block">
            <h1 class="image-header">Let's Party - Launching Soon</h1>
            <p class="image-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              <br><br>
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            </p>
          </div>
            <img src="assets/lets-party.jpg" id="party-image" class="ports"></img>
        </div>
        <div class="port-block">
          <div class="image-text-block">
            <h1 class="image-header">gHarmony</h1>
            <p class="image-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              <br><br>
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            </p>
            <div class="image-buttons">
              <a href="http://g-harmony.herokuapp.com/" target="none" class="first-button">Link to Site</a>
              <a href="https://github.com/DaHarris/g-harmony" target="none" class="second-button">Link to Github</a>
            </div>
          </div>
          <img src="assets/gharmony.jpg" id="harmony-image" class="ports">
          </img>
        </div>
        <div class="port-block">
          <div class="image-text-block">
            <h1 class="image-header">GitHired</h1>
            <p class="image-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              <br><br>
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            </p>
            <div class="image-buttons">
              <a href="http://git-hired.herokuapp.com/" target="none" class="first-button">Link to Site</a>
              <a href="https://github.com/DaHarris/git-hired" target="none" class="second-button">Link to Github</a>
            </div>
          </div>
          <img src="assets/githired.jpg" id="hired-image" class="ports">
          </img>
        </div>
        <div class="port-block">
          <div class="image-text-block">
            <h1 class="image-header">Happy Hours</h1>
            <p class="image-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              <br><br>
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            </p>
            <div class="image-buttons">
              <a href="http://happyhour-denver.herokuapp.com/" target="none" class="first-button">Link to Site</a>
              <a href="https://github.com/DaHarris/happy-hour" target="none" class="second-button">Link to Github</a>
            </div>
          </div>
          <img src="assets/happyhours.jpg" id="happy-image" class="ports">
          </img>
        </div>
        <div class="port-block">
          <div class="image-text-block">
            <h1 class="image-header">gCamp</h1>
            <p class="image-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              <br><br>
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            </p>
            <div class="image-buttons">
              <a href="https://quiet-peak-8735.herokuapp.com/" target="none" class="first-button">Link to Site</a>
              <a href="https://github.com/DaHarris/gCamp-Daniel-Harris" target="none" class="second-button">Link to Github</a>
            </div>
          </div>
          <img src="assets/gcamp.jpg" id="camp-image" class="ports">
          </img>
        </div>
      </div>
    </div>
  </div>
</div>

<a name="contact"></a>

<div class="contact-box">
  <div class="col-5">
    <p id="basic-info">
      <span style="color: #FF6663;">email:</span> dharrisdnv@gmail.com
      <br>
      <span style="color: #FF6663;">phone:</span> 9702107931
      <br>
      <span style="color: #FF6663;">location:</span> Denver, Colorado
    </p>
  </div>
  <div class="col-2" id="snorlax-box">
    <img src="assets/snorlax-circle-grey.png" id="snorlax"></img>
  </div>
  <div class="col-5">
    <p id="extra-info">
      linkedin: <a href="https://www.linkedin.com/in/danielwharrisdenver" target="none">danielwharrisdenver</a>
      <br>
      github: <a href="https://github.com/DaHarris" target="none">DaHarris</a>
      <br>
      twitter: <a href="https://twitter.com/bobth3bum" target="none">bobth3bum</a>
    </p>
  </div>
</div>
