<a name="top"></a>

<div class="image">
  <img src="/inplace.png" id="main"></img>
</div>

<div id="menu-placeholder">
  <div class="topper">
    <div class="col-12">
      <div class="col-4">
        <a href="#portfolio"><h1 id="portfolio-h1">Portfolio</h1></a>
      </div>
      <div class="col-4">
        <a href="#top"><img src="assets/logowhite.png" id="logo"></img></a>
      </div>
      <div class="col-4">
        <a href="#contact"><h1 id="contact-h1">Contact</h1></a>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="about">

    <div class="col-12">

      <img src="assets/circular.png" id="headshot"></img>
      <div align="center">
        <h1>Daniel Harris</h1>
      </div>
      <p id="summary">
        Most people pick conventional CS degrees or go to a code school like gSchool @ Galvanize.
        I decided to get the best of both worlds. With both real-world experience and a background in
        everything from database architecture to android development, I've seen the entire length of the stack.
      </p>
      <br><br>

      <hr>

      <br><br>
      <h1 id="ed-header">Education</h1>
      <p id="education">
        gSchool @ Galvanize
        <br>
        2015
        <br>
        <br>
        Metropolitan State University of Denver
        <br>
        Computer Science major (seeking)
        <br>
        Math minor (seeking)
        <br>
        2012-2014
        <br>
      </p>
      <br><br>

      <hr id="mid">

      <br><br>
      <div class="col-6" id="front-box">
        <h1 id="front-h1">Frontend</h1>
        <p id="frontend-skills">
          <span class="Ruby on Rails"></span>
          <span class="Javascript"></span>
          <span class="Jquery"></span>
          <span class="HTML"></span>
          <span class="CSS"></span>
          <span class="Responsive Design"></span>
          <span class="Agile Development"></span>
          <span class="Test Driven Development"></span>
          <span class="Pair Programming"></span>
          <script> $(document).ready(function() {
              createCircle("Ruby on Rails", .8);
              createCircle("Javascript", .6);
              createCircle("Jquery", .7);
              createCircle("HTML", .8);
              createCircle("CSS", .6);
              createCircle("Responsive Design", .7);
              createCircle("Agile Development", .6);
              createCircle("Test Driven Development", .5);
              createCircle("Pair Programming", .7);
          })</script>
        </p>
      </div>
      <div class="col-6" id="back-box">
        <h1 id="back-h1">Backend</h1>
        <p id="backend-skills">
        <span class="Java"></span>
        <span class="Android Development"></span>
        <span class="Database Architecture"></span>
        <span class="Algorithm Optimization"></span>
        <span class="Assembly"></span>
        <span class="Computer Organization"></span>
        <script> $(document).ready(function() {
          createCircle("Java", .8);
          createCircle("Android Development", .6);
          createCircle("Database Architecture", .5);
          createCircle("Algorithm Optimization", .6);
          createCircle("Assembly", .3);
          createCircle("Computer Organization", .7);
        })</script>
        </p>
        <svg width="0" height="0">
        <defs>
          <linearGradient id="cl1" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="1" y2="1">
            <stop stop-color="#618099"/>
            <stop offset="100%" stop-color="#8e6677"/>
          </linearGradient>
          <linearGradient id="cl2" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="0" y2="1">
            <stop stop-color="#8e6677"/>
            <stop offset="100%" stop-color="#9b5e67"/>
          </linearGradient>
          <linearGradient id="cl3" gradientUnits="objectBoundingBox" x1="1" y1="0" x2="0" y2="1">
            <stop stop-color="#9b5e67"/>
            <stop offset="100%" stop-color="#9c787a"/>
          </linearGradient>
          <linearGradient id="cl4" gradientUnits="objectBoundingBox" x1="1" y1="1" x2="0" y2="0">
            <stop stop-color="#9c787a"/>
            <stop offset="100%" stop-color="#817a94"/>
          </linearGradient>
          <linearGradient id="cl5" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="0" y2="0">
            <stop stop-color="#817a94"/>
            <stop offset="100%" stop-color="#498a98"/>
          </linearGradient>
          <linearGradient id="cl6" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="1" y2="0">
            <stop stop-color="#498a98"/>
            <stop offset="100%" stop-color="#618099"/>
          </linearGradient>
        </defs>
      </div>
      <br><br>

    </div>
  </div>
</div>

<a name="portfolio"><br><br><br></a>

<div class="portfolio-box">

  <h1 id="portfolio-topper">Portfolio</h1>

  <div class="container port">
    <div class="projects">
      <div class="col-12">
        <div class="port-block">
          <div class="image-text-block">
            <h1 class="image-header">Let's Party - Launching Soon</h1>
            <p class="image-text">
              <br><br>
            </p>
          </div>
            <img src="assets/lets-party.jpg" id="party-image" class="ports"></img>
        </div>
        <div class="port-block">
          <div class="image-text-block">
            <h1 class="image-header">gHarmony</h1>
            <p class="image-text">
              gHarmony is a site that came out of the need to share code snippets and articles in a more friendly way. The site allows users to sign up,
              post, rate, and edit the content that they and other users post. It included hand written User auth and Admin functionality.
              <br><br>
              Tools used: Ruby on Rails, HTML, CSS
            </p>
            <div class="image-buttons">
              <a href="http://g-harmony.herokuapp.com/" target="none" class="first-button">Link to Site</a>
              <a href="https://github.com/DaHarris/g-harmony" target="none" class="second-button">Link to Github</a>
            </div>
          </div>
          <img src="assets/gharmony.jpg" id="harmony-image" class="ports">
          </img>
        </div>
        <div class="port-block">
          <div class="image-text-block">
            <h1 class="image-header">GitHired</h1>
            <p class="image-text">
              GitHired was a favorite project of mine, as it was tailored toward finding a job in the industry. The problem that was identified
              for solving was that resumes for developers and software engineers are often not inclusive of both professional experience and code examples.
              By Combining LinkedIn and Github APIs we were able combine your professional work experience and code examples in the same place. Upon signup,
              users signed up as either a job seeker or job poster and had different profiles for each choice. The job seeker had their full LinkedIn resume
              added as well as their Github repositories. The job poster had access to searching for job seekers as well as the ability to post jobs.
              <br><br>
              Tools used: Ruby on Rails, Github and LinkedIn APIs, HTML, CSS, Javascript
            </p>
            <div class="image-buttons">
              <a href="http://git-hired.herokuapp.com/" target="none" class="first-button">Link to Site</a>
              <a href="https://github.com/DaHarris/git-hired" target="none" class="second-button">Link to Github</a>
            </div>
          </div>
          <img src="assets/githired.jpg" id="hired-image" class="ports">
          </img>
        </div>
        <div class="port-block">
          <div class="image-text-block">
            <h1 class="image-header">HappyHours</h1>
            <p class="image-text">
              A personal project of mine, HappyHours was the first project I completed in the first two weeks of gSchool @ Galvanize.
              I was tired of searching unfortunately designed websites for happy hour deals (coding requires adequate fuel, as you well know) and
              decided to take the matter into my own hands. It was a simple crud app that used the Google Maps API and utilized rating systems for each bar that was added.
              <br><br>
              Tools used: Ruby on Rails, Google Maps API, HTML, CSS, Javascript, Jquery
            </p>
            <div class="image-buttons">
              <a href="http://happyhour-denver.herokuapp.com/" target="none" class="first-button">Link to Site</a>
              <a href="https://github.com/DaHarris/happy-hour" target="none" class="second-button">Link to Github</a>
            </div>
          </div>
          <img src="assets/happyhours.jpg" id="happy-image" class="ports">
          </img>
        </div>
        <div class="port-block">
          <div class="image-text-block">
            <h1 class="image-header">gCamp</h1>
            <p class="image-text">
              gCamp started as a basic CRUD application for all gSchool @ Galvanize students and was built from the ground up
              in the first couple months of class.
              <br><br>
              Tools used: Ruby on Rails, HTML, CSS
            </p>
            <div class="image-buttons">
              <a href="https://quiet-peak-8735.herokuapp.com/" target="none" class="first-button">Link to Site</a>
              <a href="https://github.com/DaHarris/gCamp-Daniel-Harris" target="none" class="second-button">Link to Github</a>
            </div>
          </div>
          <img src="assets/gcamp.jpg" id="camp-image" class="ports">
          </img>
        </div>
      </div>
    </div>
  </div>
</div>

<a name="contact"></a>

<div class="contact-box">
  <div class="col-5">
    <p id="basic-info">
      <span style="color: #FF6663;">email:</span> dharrisdnv@gmail.com
      <br>
      <span style="color: #FF6663;">phone:</span> 9702107931
      <br>
      <span style="color: #FF6663;">location:</span> Denver, Colorado
    </p>
  </div>
  <div class="col-2" id="snorlax-box">
    <img src="assets/snorlax-circle-grey.png" id="snorlax"></img>
  </div>
  <div class="col-5">
    <p id="extra-info">
      linkedin: <a href="https://www.linkedin.com/in/danielwharrisdenver" target="none">danielwharrisdenver</a>
      <br>
      github: <a href="https://github.com/DaHarris" target="none">DaHarris</a>
      <br>
      twitter: <a href="https://twitter.com/bobth3bum" target="none">bobth3bum</a>
    </p>
  </div>
</div>
